app = "crypto-trend-fly"
primary_region = "fra"  # Германия (Frankfurt)

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
