app = "crypto-trend-fly"  # имя вашего приложения на Fly

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
PORT = "8080"

[experimental]
  allowed_public_ports = [8080]
  auto_rollback = true

[deploy]
  release_command = "echo Deploying Crypto Trend app"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]
