# fly.toml — конфиг для приложения Fly
app = "crypto-trend-fly"

# Указываем, что билдим из локального Dockerfile
[build]
  image = "Dockerfile"

# Настройки сети
[[services]]
  internal_port = 80
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.tcp_checks]]
    interval = 10000
    timeout = 2000
    restart_limit = 0
